* {
  font-family: 'Roboto';
}

.bg {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg1 {
  background-color: #fff;
  border-radius: 10px;
  height: 80%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image {
  height: 120px;
  width: 120px;
}

.btn {
  margin-top: 10px;
  background-color: #f9d423;
  border-color: #f9d423;
  outline: none;
  padding: 10px 25px 10px 25px;
  border-radius: 8px;
  color: #e2a139;
  font-weight: bold;
}
.bgc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  color: #475569;
  font-weight: bold;
}

h1 {
  color: #a35200;
}
.desc {
  color: #334155;
  font-weight: bold;
}
